body{
    text-align: center;
    background-color: #00FFCA;
       /* The image used */
       background-image: url(pexels-pixabay-531880.jpg);
    
       /* Full height */
       height: 100%;
       
       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       
       border: #F97B22;
}
.MatriBhasha{
    color: #E86A33
}
h1{
    font-family: 'Bruno Ace', cursive;
}